body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
.header-container {
    max-width: 1200px; 
    margin: 0 auto;
    height: auto;
}
h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Header section  */
header {
    position: static;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.logo {
    height: auto;
    text-align: center;
}
.logo a {
    color:#545454;
}
.logo h1 {
    font-size: 32px;
    letter-spacing: 0.06em;
}
.logo p {
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 0.1em;
}
.logo2 {
    display: none;
}
#burger {
    display: none;
}
nav {
    margin: 20px;
    margin-right: 0;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} 
nav ul a {
    margin: 15px;
    color: #545454;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.nav-highlighted {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
}
nav a:hover {
    border-bottom: 3px solid #F1CDB3;
    opacity: 0.9;
}

/* pets section  */
#pets {
    height: auto;
    background-color: #F6F6F6;
    width: 100%;
}
#pets-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pets-content h3 {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 50px;
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 9px;
    margin-bottom: 25px;    
}
.card:hover {
    box-shadow:0px 0px 15px #cecece;
    cursor: pointer;
}
.card:hover .card-button{
    background-color: #F1CDB3;
}
.card p{
    padding: 30px 98px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    font-size: 20px;
    line-height: 23px; 
    letter-spacing: 0.06em; 
}
.card a{
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    padding: 15px 45px;
    font-size: 17px;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;
}
.navigation {
    margin: 25px auto 0;
}
.navigation button {
    font-size: 18px;
    cursor: pointer;
    background-color: #F6F6F6;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    padding: 16px 22px;
    margin: 3px 5px;
}
.navigation button:hover {
    background-color: #F1CDB3;
}
.navigation button:disabled {
    background-color: #F6F6F6;
    border:2px solid #CDCDCD;
    cursor:auto;
}
.navigation button:first-child, .navigation button:last-child {
    padding: 16px 13px;
}

/* footer content  */
#contacts {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211F20;
    height: auto;
    width: 100%;
    margin-top: -5px;
}
#footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    padding-bottom: 0;
}
.wrap-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.br-responsive {
    display: none;
}
.contact-section{
    margin-right: 150px;
}
.contact-section h3 {
    margin: 20px 0;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact img {
    width: 60px;
    height: 32px;
    margin-bottom: 20px;
    margin-left: -10px;
}
.contact h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.info  {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 15px 0;
}

@media (max-width: 1280px) {
    header{
        width: 95%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 30px;
        position: fixed;
        background-color: white;
    }
    nav {
        margin: 16px 17px 20px 0;
    }
    nav ul a{
        margin: 18px;
    }
    /* pets section  */
    #pets-content {
        margin: 120px auto 0;
        padding: 80px 40px 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #pets-content h3 {
        margin-bottom: 38px;
    }
    .cards-container {
        justify-content: space-evenly;
    }
    .card {
        width: 40%;   
        margin-bottom: 30px;
    }
    .pets-scarlett, .pets-freddie {
        display: none;
    }
    .navigation {
        margin: -15px auto 0;
    }

    /* footer content  */
    #footer-content {
        display: flex;
        flex-direction: column;
        padding: 15px 40px 0;
    }
    .br {
        display: inline;
    }
    .br-responsive {
        display: none;
    }
    #contacts {
        margin-bottom: -20px;
    }
    .contact-section {
        justify-content: space-around;
        margin: 0 auto;
    }
    .wrap-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #footer-puppy {
        width: 300px;
        margin: 24px auto 0;
    }
    .info {
        width: 316px;
    }
}

@media (max-width: 767px) {
    body {
        position: relative;
    }
    .scroll {
        overflow: hidden;
    }
    header {
        position: inherit;
        padding: 30px 10px;
        margin: 0;
    }
    .dimmer {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #29292999;
    }
    .logo2 {
        display: block;
        position: fixed;
        width: 186px;
        top: 30px;
        right: -250px;
        transition: all 1s ease-in-out;
        z-index: 100;
    }
    .logo-display {
        display: flex;
        top: 30px;
        right: 126px;
        z-index: 98;
    }
    nav {
        margin: 21px 40px 20px 0;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        width: 243px;
    }
    nav ul a {
        font-size: 25px;
    }
    #burger {
        display: flex;
        position: absolute;
        right: 53px;
        top: 50px;
        z-index: 101;
        transition: all 1s ease-in-out;
    }
    .burger-transform {
        position: absolute;
        transform: rotate(90deg);
        right: 53px;
        top: 50px;
        z-index: 100;
    }
    .burger-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #ffffff;
        width: 320px;
        height: 100%;
        top: -50px;
        right: -320px;
        padding-top: 258px;
        text-align: center; 
        z-index: 40;
        transition: all 1s ease-in-out;
    }
    .burger-menu.open {
        right: 0px;
        z-index: 45;
    }
    .burger-menu li {
        margin: 40px;
    }

    /* pets section  */
    #pets-content {
        margin-top: 0;
        padding: 42px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #pets-content h3 {
        font-size: 25px;
        margin-top: 10px;
    }
    .cards-container {
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card {
        width: 270px;   
        margin-bottom: 30px;
    }
    .pets-sophia, .pets-timmy, .pets-Charly, .pets-scarlett, .pets-freddie {
        display: none;
    }
    .navigation {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .navigation button {
        font-size: 15px;
        width: 52px;
        height: 52px;
        padding: 0;
    }

    /* footer section  */
    #footer-content {
        padding: 0;
    }
    .br {
        display: none;
    }
    .br-responsive {
        display: inline;
    }
    .wrap-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .contact {
        margin-left: 30px;
    }
    .map {
        margin-left: 0;
    }
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-section h3 {
        font-size: 25px;
    }
    .contact img {
        width: 40px;
        height: 26px;
        margin-right: 20px;
    }
    #footer-puppy {
        width: 260px;
        margin: 20px auto 0;
    }
    .info {
        width: 100%;
    }
}
